:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.router-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: calc(100% - 0px);
  perspective: 1200px;
  transform-style: preserve-3d;
}


.spacer{
  margin: 0 auto;
}