/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100%;
}

/** 
* Margin Utils
*/

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.50rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.50rem;
  margin-right: 0.50rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/** 
* Padding Utils
*/
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.50rem;
  padding-right: 0.50rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/** 
* Layout Utils
*/

.d-flex-wid-align-justify-start {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.d-flex-wid-align-justify-center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.d-flex-wid-align-justify-end {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
